
body {
	font-family: Rubik;
}

.font-roboto-slab {
	font-family: roboto slab;
}

.row {
	margin-right: 0px;
}
.logo {
	height: 60px;
	width: auto;
	margin-left: 50px;
}

.menu {
	margin-right: 40px;
}

.menu a {
	margin-left: 35px !important;
	font-size: 14px;
	color: #333333 !important;
}

.menu a:hover {
	color: #42B2E1 !important;
}

.menu a:focus {
	color: #42B2E1 !important;
}

.banner {
	padding-bottom: 150px;
}
.banner-logo {
	width: 100%;
	margin: auto;
	text-align: center;
}

.banner-logo .novum-icon {
	width: 66px;
	margin-top: 60px;
	margin-right: 25px;
	margin-bottom: 20px;
}

.banner-logo .novum-brand {
	width: 320px;
	font-size: 10px;
}

.banner-logo p {
	font-size: 16px;
}

.parallax {
	background-image: url("images/map.png");
	min-height: 500px; 
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	padding-top: 50px;
	padding-bottom: 80px;
}
.title {
	text-align: left;
	margin-left: 70px;
	margin-top: 100px;
}

.title p {
	font-size: 12px;
	color: #333;
}

.title-line {
	width: 50px;
	background-color: #133E50;
}

h2 {
	font-size: 29px;
	color: #133E50;
	font-family: roboto slab;
}

.introduce-text {
	color: #333;
	font-size: 19px;
	text-align: center;
	margin: auto;
}    

.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.country-name {
	text-align: center;
	font-size: 14px;
	color: #42B2E1;
	margin-top: 25px;
}

.country-name:hover {
	color: #333;
}

.rank-content {
	padding-left: 70px;
	padding-right: 70px;
}

.part-01-03 {
	margin-top: 100px !important;
}

.part-01-03 p {
	font-size: 15px;
}

.part-01-03 a {
	font-size: 15px;
}


.part-01-03 img {
	width: 85%;
	margin-top: 15px;
}

.part-01-03 a {
	color: #42B2E1;
}

.rank-1 {
	background-color: #42B2E1;
	border-radius: 15px;
	width: 30px;
	height: 45px;
}

.rank-2 {
	background-color: #E7F6FB;
	border-radius: 15px;
	width: 50px;
	height: 50px;
}

.rank-1 span {
	font-size: 22px;
	color: white;
}

.rank-2 span {
	font-size: 22px;
	color: #42B2E1;
}

h1 {
	color: #133E50;
	font-family: roboto slab;
	font-size: 37px;
}

.second-title {
	text-align: right;
}

.part-02 {
	margin-top: 90px;
}

.part-02 p {
	font-size: 15px;
}

.part-02 img {
	width: 85%;
	margin-top: 20px;
}

.rank span {
	font-size: 25px;
	color: white;
}

.part-02 a {
	color: #42B2E1;
}

.portfolio-figure {
	width: 90%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

.portfolio-figure-box {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.portfolio-figure-box:hover {
	box-shadow: 0px 20px 50px #F0F3F4;
}

.rank-center {
	margin: auto;
	margin-bottom: 50px;
}

.portfolio-figure .figure {
	font-size: 28px;
	color: #333;
	font-weight: bold;
	margin-bottom: 40px;
}

.portfolio-figure .text {
	font-size: 14px;
	color: #333;
}

.scn {
	width: 90%;
	margin: auto;
	margin-top: 70px;
}

.no-padding {
	padding: 0px;
}

.laptop-1 img {
	width: 100%;
}

.scn-logo {
	width: 250px;
	margin-top: 50px;
}

.scn-link {
	font-size: 14px;
	padding-top: 8px;
	padding-bottom: 20px;
}

.scn-link a {
	color: #42B2E1;
}

.scn-link a:hover {
	color: #42B2E1;
}

.scn-description {
	font-size: 15px;
	line-height: 22px;
}
.card-img-top{
	padding: 25px;
}
.card-body{
	min-height: 200px;
}
.concordia {
	width: 90%;
	margin: auto;
	margin-top: 120px;
	padding-bottom: 50px;
}

.laptop-2 img {
	width: 100%;
	margin-top: 20px;
}

.concordia-logo {
	width: 250px;
	margin-bottom: 5px;
}

.concordia-description {
	font-size: 14px;
	line-height: 22px;
	text-align: left;
}

ul {
  list-style-type: circle;
  font-size: 14px;
  padding-left: 15px;
}

.download {
	float: left;
	margin-bottom: 30px;
}

.download img {
	width: 130px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.the-novum-edge-content {
	width: 90%;
	margin: auto;
	margin-bottom: 150px;
	margin-top: 70px;
}

.profile {
	width: 85%;
	margin-bottom: 30px;
}

.quote-title {
	font-size: 23px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.quote-content {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 55px;
}

.signment {
	font-size: 13px;
	color: #42B2E1;
}

.footer {
	background-color: #133E50;
	padding-top: 30px;
	padding-bottom: 40px;
} 

.footer-content {
	width: 90%;
	margin: auto;
}

.footer-logo {
	width: 55%;
	margin-bottom: 30px;
	padding-top: 15px;
}

.social-icon a {
	margin-right: 31px;
	color: #42B2E1;
}

.social-icon i:hover {
	color: white;
}

.footer-menu hr {
	background-color: white;
	width: 50px;
}

.footer-menu p {
	color: white;
	font-size: 15px;
	margin-bottom: 7px;
}

.footer-menu a {
	color: #42B2E1;
	font-size: 12px;
}

.subscribe {
	height: 100px;
	padding-top: 40px;
	padding-bottom: 15px;
	background-image: url("images/send-line.png");
	background-size: 98%;
	background-repeat: no-repeat;
}

.subscribe input::placeholder {
	color: #42B2E1;
}

.subscribe input {
	border-radius: 80px;
	border: none;
	height: 34px;
	font-size: 13px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.subscribe button {
	border-radius: 80px;
	border: none;
	height: 34px;
	width: 100%;
	font-size: 13px;
	margin-bottom: 10px;
	background-image: linear-gradient(to right, #0078AB, #42B2E1);
}
.p-r-70{
	padding-right: 70px;
}
.hidden{
	display: none !important;
}
.content { padding-top: 70px; }
.navbar-fixed-top{
	position: fixed;
    width: 100%;
    background: #ffff;
    z-index: 10;
}
.banner-logo{
	margin-top: 60px;
}
.banner{
	min-height: 600px;
}
